.ajuste {
    align-items: center;
    justify-content: center;
}

.textoFooter {
    color: white;
}

.textoBold {
    font-weight: bold;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoPadding {
    padding-top: 0.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoWedoCare {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.gradient {
    background-color: #434242;
    background-image: linear-gradient(180deg, #434242 0%, #000000 68%);
}

.redes{
    font-size: 60px !important;
    color: white;
}